.gradle/
local.properties
.idea/workspace.xml
.idea/libraries/
.idea/tasks.xml
.idea/datasources.xml
.idea/dataSources.ids
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
*.iml
.DS_Store
/build
/captures
*.apk
*.ap_
*.dex
*.class
*.o
*.so
bin/
gen/
Thumbs.db
